.Footer {
  border-top: 1px solid #e88c67;
  border-style: dashed;
  border-left: none;
  border-bottom: none;
  border-right: none;
  /* padding-top: 15px; */
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}
.icona-social {
  height: 30px;
}
